.in-middle{
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.fullscreen{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.section{
	position: relative;
	width: 100vw;
	height: 100%;
}
