.sub-wrapper{
  display: inline-block;

  &.big-text{
    font-size: 1.6em;
    line-height: 1.24;
  }
}
.container{
  width: 100%;
  max-width: 920px;
  padding: 0 50px;
  white-space: normal;
  @media screen and (max-width: 400px) {
    padding: 50px 10%;
  }
}